---
layout: tickets
title: Compra tus entradas - CINEMA'T
---
<!--https://www.jqueryscript.net/form/Show-Hide-Form-Fields-Conditionally-jQuery.html-->
<div class="compraEntradas">
  <h1 id="entradas">Compra tus entradas</h1>
  <form id="compra" action="https://formspree.io/andrea.valcarcel.7e2@itb.cat" method="POST">
    <fieldset>
      <div id="selectores">
        <label for="movie" class="labelOurs">Escoge la pelicula</label>
        <select id="peliculaSelector" class="input" name="pelicula" required>
          {% for film in site.movies %}
            <option value="{{film.title}}">{{film.title}}</option>
          {% endfor %}
        </select><br>
        <label for="sesion" class="labelOurs">Escoge la sesión</label>
        <select id="diaSelector" class="input" name="dia" required>
          {% for day in site.data.horarios %}
            <option value="{{day.dia}}">{{day.dia}}</option>
          {% endfor %}
        </select>
        <select id="horaSelector" class="input" name="horario" required>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Lunes" %}
              <option value="hora1">{{hora.hora1}}</option>
              <option value="hora2">{{hora.hora2}}</option>
              <option value="hora3">{{hora.hora3}}</option>
              <option value="hora4">{{hora.hora4}}</option>
              <option value="hora5">{{hora.hora5}}</option>
              <option value="hora6">{{hora.hora6}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="cantipagar">
        <label for="quantity" id="cantidadE" class="labelOurs">Cantidad</label>
        <input id="quantity" class="input" name="quantity" max="10" min="1" type="number" maxlength="2" onchange="multiplicar();" required><br><br>
        <label for="total" class="labelOurs">Total a pagar</label>
        <input type="text" id="result" class="input" readonly="readonly" min="0" max="3">€</input><br><br>
      </div>
      <div class="infoPersona">
        <label for="name" class="labelOurs">Nombre</label><br>
        <input id="name" class="input" name="name" type="text"  size="30" required /><br><br>
        <label for="surname" class="labelOurs">Apellidos</label><br>
        <input id="surname" class="input" name="surname" type="text"  size="30" required /><br><br>
        <label for="email" class="labelOurs">Email</label><br>
        <input id="email" class="input" name="email" type="email"  size="30" required /><br><br>
      </div>
      <label for="promotion">¿Tienes una promoción? Introduce tu código</label><br>
      <input type="text" class="input" name="promocion" id="promocion">
    </fieldset>

    <!-- Card -->
    <div class="container">
      <div class="col1">
        <div class="card">
          <div class="front">
            <div class="type">
              <img class="bankid"/>
            </div>
            <span class="chip"></span>
            <span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
            <div class="date"><span class="date_value">MM / AAAA</span></div>
            <span class="fullname">NOMBRE COMPLETO</span>
          </div>
          <div class="back">
            <div class="magnetic"></div>
            <div class="bar"></div>
            <span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span>
            <span class="chip"></span><span class="disclaimer">Esta tarjeta es propiedad de MATBanco. <br> Si te la encuentras, realiza el máximo de compras que puedas antes de que te pillen. </span>
          </div>
        </div>
      </div>
      <div class="col2">
        <label>Número de la tarjeta</label>
        <input class="number" type="text" ng-model="ncard" maxlength="19" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
        <label>Nombre completo</label>
        <input class="inputname" type="text" placeholder="Nombre completo" maxlength="25" onkeypress="return soloLetras(event)"/>
        <label>Fecha de caducidad</label>
        <input class="expire" type="text" placeholder="MM / AAAA"/>
        <label>Número de seguridad</label>
        <input class="ccv" type="text" placeholder="CVC" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
        <button class="buy" type="submit">Pagar</button>
      </div>
    </div>
  </form>
</div>
