<header>
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <a href="https://thaiskh.gitlab.io/cinemat/movies/vengadores_endgame.html"><img src="media/img/carousel/vengadores.jpg" alt="Estreno Vengadores" style="width:100%;"></a>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <a href="https://thaiskh.gitlab.io/cinemat/promociones.html"><img src="media/img/carousel/2x1.png" alt="Promocion 2x1" style="width:100%;"></a>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <a href="https://thaiskh.gitlab.io/cinemat/entradas.html"><img src="media/img/carousel/Pikachu.png" alt="Detective Pikachu a 5€" style="width:100%;"></a>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</header>
