<div class="contacto">
  <p id="direccion">&nbsp;&#9906;&nbsp;&nbsp;&nbsp;&nbsp;Carrer de Santa Teresa 08290 Cerdanyola del Vallès (Barcelona)</p>
  <p id="telefono">&#9742;&nbsp;&nbsp;&nbsp;+34 93 580 31 25</p>
  <p id="correo">&#64;&nbsp;&nbsp;&nbsp;&nbsp;contacto@cinemat.es</p>
</div>
<footer>
  <div class="rrsscc">
    <img id="footerimg" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/by-nc-sa.png" alt="CC BY-NC-SA">
    <p class="footerp">CC BY-NC-SA. Thais Camuñez, Miquel López y Andrea Valcarcel</p>
    <img class="social" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/facebook.png" alt="Facebook">
    <img class="social" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/instagram.png" alt="Instagram">
    <img class="social" id="twitter" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/twitter.png" alt="Twitter">
  </div>
</footer>
