.grid-container{
  display:grid;
  grid-gap: 70px 70px;
  grid-template-columns: 160px 160px 160px 160px;
  grid-template-rows: 230px 230px 230px 230px;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.poster {
  height:230px;
  width:170px;
}

h6{
  font-size: 1em;

}

.cartelera{
  margin-bottom: 8%;
}
