
.infoPersona{
margin-left: 8px;
margin-top: -10px;
margin-bottom: 6px;
}

.input:focus {
background: rgba(31, 134, 252, 0.15);
transition: background 0.5s;
}

.input {
background: rgba(0, 0, 0, 0.05);
padding: 10px;
border: none;
border-radius: 20px;
transition: background 1s;
width: 260px;
height: 30px;
outline: unset;
margin: 4px;
}

.labelOurs{
padding-left: 5px;
font-size: 15px;
color: #444;
}

#selectores {
margin-left: 8px;
margin-bottom: 14px;
}

.cantipagar{
  margin: 0 0 16px 8px;
}

select#peliculaSelector.input:focus{
  background: rgba(0, 0, 0, 0.05);
  transition: none;
}

select#diaSelector.input:focus{
  background: rgba(0, 0, 0, 0.05);
  transition: none;
}

select#horaSelector.input:focus {
  background: rgba(0, 0, 0, 0.05);
  transition: none;
}

select#peliculaSelector.input{
height: 40px;
}

select#diaSelector.input{
height: 40px;
width: 97px;
}

select#horaSelector.input {
height: 40px;
width: 82px;
}

#quantity{
height: 28px;
width: 50px;
margin-left: 15px;
}

#result{
width: 45px;
height: 22px;
}

#promocion{
margin-bottom: 25px;
}

.compraEntradas {
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
}

form fieldset{
  border: none;
  display: inline-block;
  width: 40%;
}

form{
  margin-left: 2%;
}
