.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 385px;
}

.imgpelicula{
  width: 270px;
  height: 100%;
  max-height: 385px;
  margin-right: 20px;
}

.infopelicula{
  width: 50%;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 30px;
}

.fichatecnica{
  width: 18%;
  margin-left: 20px;
  bottom: 2px;
  position: relative;
}

.trailerpelicula{
  width:50%;
}

.horariospelicula{
  width:25%;
  margin:auto auto 50px auto;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 120px;
}

iframe{
  border: none;
}
