
.ofertas{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width:100%;
}

.ofertas div{
  text-align: center;
}

.ofertas div h4{
  text-align: center;
  font-size: 2.5em;
  margin: 20px auto 10px auto;
  font-family: "Teko", sans-serif;
}
