<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/style.css">
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/cartelera.css">
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/entradas.css">
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/pelicula.css">
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/promociones.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://thaiskh.gitlab.io/cinemat/media/img/logo/starslogo.png">
</head>
<body>
  {% include navigation.html %}
  <div id="wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>
