<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/style.css">
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/entradas.css">
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/creditcard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" href="https://thaiskh.gitlab.io/cinemat/media/img/logo/starslogo.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://thaiskh.gitlab.io/cinemat/assets/js/jquery.dependent.fields.js"></script>
    <script src="https://thaiskh.gitlab.io/cinemat/assets/js/script_tickets.js"></script>
    <script>
    function soloLetras(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key);
       letras = " áéíóúabcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
       especiales = "'-";

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }
    </script>
    <script>
      function multiplicar(){
        m1 = document.getElementById("quantity").value;
        m2 = 7.50;
        r = m1*m2;
        document.getElementById("result").value = r;
        }
    </script>

</head>
<body>
  {% include navigation.html %}
  <div id="wrapper">
    {{ content }}
  </div>
  <footer>
    <div class="contact">
      <p id="direccion">&nbsp;&#9906;&nbsp;&nbsp;&nbsp;&nbsp;Carrer de Santa Teresa 08290 Cerdanyola del Vallès (Barcelona)</p>
      <p id="telefono">&#9742;&nbsp;&nbsp;&nbsp;+34 93 580 31 25</p>
      <p id="correo">&#64;&nbsp;&nbsp;&nbsp;&nbsp;contacto@cinemat.es</p>
    </div>
    <div class="rrsscc">
      <img id="footerimg" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/by-nc-sa.png" alt="CC BY-NC-SA">
      <p class="footerp">CC BY-NC-SA. Thais Camuñez, Miquel López y Andrea Valcarcel</p>
      <img class="social" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/facebook.png" alt="Facebook">
      <img class="social" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/instagram.png" alt="Instagram">
      <img class="social" id="twitter" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/twitter.png" alt="Twitter">
    </div>
  </footer>
</body>
</html>
